@model XCars.ViewModels.AuctionShortInfoVM
@using XCars.Resourses
@using XCars.Common

@{
    string photoSrc = XCarsConfiguration.BucketEndpoint + XCarsConfiguration.BucketName + "/" + XCarsConfiguration.AutoPhotosUploadUrl + (Model.Auto.Photo.ID != 0 ? (Model.Auto.Photo.ID + "_272x179") : XCarsConfiguration.AutoNoPhotoName) + XCarsConfiguration.PhotoExtension;
    string autoName = Model.Auto.Make + " " + Model.Auto.Model + (!string.IsNullOrWhiteSpace(Model.Auto.Modification) ? " " + Model.Auto.Modification : "") + " " + Model.Auto.YearOfIssue;
}

<div class="car_page_in_single">
    <a href="/Auction/Details/@Model.ID">
        <div class="car_page_in_photo">
            <img class="async" height="154" title="@autoName" alt="@autoName" finalSrc="@photoSrc" src="@XCars.Common.XCarsConfiguration.ClearGif">
        </div>
        <div class="car_page_in_description">
            <div><span class="name">@autoName </span></div>
            <span class="green">@Model.PriceUSDStr</span><span class="price_grn">/ @Model.PriceUAHStr</span>
        </div>
    </a>
</div>